@use '../utils' as *;

/*----------------------------------------*/
/*  2.3 Back to top
/*----------------------------------------*/


.#{$theme-prefix}-back-to-top{
	width: 50px;
    height: 50px;
    background-color: var(--mh-primary-color);
    color: var(--mh-white-color);
    border-radius: 10px;
    position: fixed;
    bottom: 25px;
    right: 50px;
    z-index: 999;
    @include mh-transition();
	@media #{$xs} {
		right: 30px;
		bottom: 10px;
	}
	&-open {
		bottom: 50px;
	}
}
