@use '../utils' as *;

/*----------------------------------------*/
/*  2.7 Pagination
/*----------------------------------------*/

.#{$theme-prefix}-pagination {
    & ul {
        list-style: none;
        & li {
            display: inline-block;
            &:not(:last-child) {
                margin-right: 7px;
            }
            &:hover {
                & a {
                    background-color: var(--mh-primary-color);
                    color: var(--mh-white-color);
                }
            }
            & a {
                width: 60px;
                height: 60px;
                border: 1px solid var(--mh-gray-color);
                line-height: 60px;
                border-radius: 20px;
                display: inline-block;
                text-align: center;
                & i {
                    font-size: 26px;
                    transform: translateY(3px);
                }
            }
        }
    }
}