@use '../../utils' as *;

/*----------------------------------------*/
/*  3.1 Blog
/*----------------------------------------*/

.#{$theme-prefix}blog {
    &__content {
        @media #{$xl,$lg,$md,$xs} {
            padding-left: 0;
        }
    }
    &__meta {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & span {
            line-height: 28px;
        }
        & cite {
            width: 2px;
            height: 16px;
            background-color: var(--mh-gray-color);
            display: inline-block;
            margin: 0 14px;
        }
    }
    &__title {
        @include mh-transition();
        @media #{$md} {
            font-size: 26px;
        }
        &:hover {
            color: var(--mh-primary-color);
        }
    }
}

.#{$theme-prefix}-blog {
    &-thumb {
        & iframe {
            width: 100%;
            aspect-ratio: 16 / 9;
            border-radius: 20px;
        }
    }
    &-meta {
        & span {
            display: inline-flex;
            align-items: center;
            position: relative;
            &:not(:last-child) {
                margin-right: 16px;
                padding-right: 16px;
                &:after {
                    content: "";
                    position: absolute;
                    width: 2px;
                    height: 16px;
                    background-color: var(--mh-gray-color);
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }

            }
            & a {
                &:hover {
                    color: var(--mh-primary-color);
                }
            }
        }
    }
    &-title {
        font-size: 40px;
        font-weight: 400;
        line-height: 50px;
        @media #{$xs} {
            font-size: 30px;
            line-height: 35px;
        }
        & a {
            &:hover {
                color: var(--mh-primary-color);
            }
        }
    }
    &-form {
        & input {
            border: 1px solid var(--mh-gray-color);
            border-radius: 5px;
            padding: 0 25px;
            height: 60px;
        }
        & button {
            position: absolute;
            right: 25px;
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
        }
    }
    &-arrow {
        position: absolute;
        height: 75px;
        width: 135px;
        background-color: var(--mh-primary-color-2);
        border-radius: 50%;
        font-size: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
        z-index: 3; 
        @media #{$xs} {
            height: 40px;
            width: 100px;
            font-size: 30px;
            line-height: 1;
            left: 10px;
        }
        &-next {
            left: auto;
            right: 30px;
            @media #{$xs} {
                right: 10px;
            }
        }
        &-prev {
            transform: translateY(-50%) rotate(180deg);
        }
    }
    &-video {
        & a {
            height: 100px;
            width: 100px;
            background-color: var(--mh-primary-color-2);
            font-size: 22px;
            display: inline-block;
            line-height: 100px;
            text-align: center;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            @media #{$xs} {
                font-size: 20px;
                line-height: 80px;
                width: 80px;
                height: 80px;
            }
        }
    }
    &-quote {
        border: 1px solid var(--mh-gray-color);
        border-radius: 20px;
        text-align: center;
        padding: 50px 60px;
        &-icon {
            font-size: 70px;
            display: inline-flex;
        }
        & blockquote {
            & p {
                font-size: 30px;
                line-height: 40px;
                color: var(--mh-heading-color);
                font-family: var(--mh-heading-font);
            }
        }
        &-author {
            font-size: 20px;
            line-height: 30px;
            color: var(--mh-heading-color);
        }
    }
    &-feature {
        &-title {
            font-size: 30px;
        }
    }
    &-tag {
        border: 1px solid var(--mh-gray-color);
        border-radius: 10px;
        padding: 22px 40px;
        @media #{$lg} {
            padding: 16px 20px;
        }
        &-button {
            display: flex;
            align-items: center;
            gap: 5px;
            flex-wrap: wrap;
            @media #{$xs} {
                margin-bottom: 20px;
            }
            & span {
                font-weight: 500;
                color: var(--mh-heading-color);
            }
            & button {
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                color: var(--mh-heading-color);
                background-color: var(--mh-creamy-color);
                border-radius: 5px;
                padding: 12px 17px;
                @media #{$xs} {
                    font-size: 13px;
                    padding: 10px 14px;
                }
                &:hover {
                    color: var(--mh-white-color);
                    background-color: var(--mh-primary-color);
                }
            }
        }
        &-social {
            & a {
                width: 42px;
                height: 42px;
                border: 1px solid var(--mh-gray-color);
                border-radius: 10px;
                display: inline-block;
                text-align: center;
                line-height: 42px;
                @media #{$lg} {
                    width: 38px;
                    height: 38px;
                    font-size: 18px;
                    line-height: 38px;
                }
                &:hover {
                    background-color: var(--mh-primary-color);
                    color: var(--mh-white-color);
                    border-color: var(--mh-primary-color);
                }
            }
        }
    }
    &-comment {
        &-main {
            & ul {
                list-style: none;
                & li {
                    margin-bottom: 60px;
                    &.children {
                        padding-left: 100px;
                    }
                }
            }
        }
        &-list {
            display: flex;
            gap: 30px;
        }
        &-thumb {
            flex: 0 0 auto;
            & img {
                width: 120px;
                height: 120px;
            }
        }
        &-author {
            font-size: 20px;
            margin-bottom: 5px;
        }
        &-text {
            & span {
                font-size: 15px;
                font-weight: 500;
                text-transform: uppercase;
            }
        }
        &-icon {
            & a {
                font-size: 18px;
                &:hover {
                    color: var(--mh-primary-color);
                }
            }
        }
    }
}