@use '../../utils' as *; 

/*----------------------------------------*/
/*  3.7 Contact
/*----------------------------------------*/

.#{$theme-prefix}-contact {
    &-title {
        font-size: 100px;
        line-height: 1.2;
        @media #{$xl} {
            font-size: 85px;
            line-height: 1.1;
        }
        @media #{$xs} {
            font-size: 65px;
        }
    }
    &-form {
        &-title {
            &-02 {
                font-size: 40px;
            }
        }
    }
    &-bar {
        &-title {
            font-size: 38px;
        }
    }
    &-serach-form {
        & form {
            position: relative;
            & button {
                position: absolute;
                font-size: 18px;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}


.#{$theme-prefix}contact {
    padding:45px 36px;
    border: 1px solid var(--mh-gray-color);
    border-radius: 15px;
    &__icon {
        & span {
            font-size: 85px;
            display: block;
        }
    }
    &__text {
        & span {
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            text-transform: uppercase;
            display: block;
        }
    }
    &__title {
        font-size: 30px;
        line-height: 40px;
        overflow-wrap: break-word;
        @include mh-transition();
        @media #{$xl,$md,$xs} {
            font-size: 22px;
            line-height: 30px;
        }
        &:hover {
            color: var(--mh-primary-color);
        }
    }
}

.#{$theme-prefix}-map-area {
    & iframe {
        width: 100%;
        height: 700px;
        display: block;
    }
}