@use '../../utils' as *;

/*----------------------------------------*/
/*  3.9 Faq
/*----------------------------------------*/

.#{$theme-prefix}-faq {
    &-bg {
        position: absolute;
        right: 0;
        bottom: 0;
        width: calc(50% - 65px);
        height: 100%;
        background-position: center;
        background-size: cover;
        @media #{$md,$xs} {
            position: static;
            width: 100%;
            height: 500px;
            margin-bottom: 40px;
        }
        @media #{$xs} {
            height: 300px;
        }
    }
    &-item {
        border: 1px solid var(--mh-gray-color);
        border-radius: 10px;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &-button {
        font-size: 20px;
        line-height: 30px;
        width: 100%;
        text-align: left;
        padding: 20px 30px;
        display: block;
        position: relative;
        &:before,&:after {
            content: "\f063";
            position: absolute;
            font-family: "Font Awesome 5 Pro";
            font-weight: 300;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            display: inline-block;
        }
        &.collapsed {
            &:before {
                display: none;
            }
            &:after {
                content: "\f061";
            }
        }
    }
    &-body {
        margin: 0 30px;
        border-top: 1px solid var(--mh-gray-color);
        padding-top: 20px;
    }

}