@use '../../utils' as *;

/*----------------------------------------*/
/*  3.12 Portfolio
/*----------------------------------------*/

.#{$theme-prefix}-portfolio {
    &-filter {
        & button {
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 20px;
            position: relative;
            &.active {
                color: var(--mh-primary-color);
            }
            &:not(:last-child) {
                &:after {
                    content: "";
                    position: absolute;
                    height: 12px;
                    width: 1.5px;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    background-color: var(--mh-gray-color);
                }
            }
        }
    }
    &-img {
        &:hover {
            &:before {
                opacity: .7;
                visibility: visible;
            }
            & .mh-portfolio-arrow {
                visibility: visible;
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
        &:before {
            content: "";
            position: absolute;
            background-color: var(--mh-primary-color);
            width: 100%;
            height: 100%;
            border-radius: 15px;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            @include mh-transition();
        }
    }
    &-arrow {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(.7);
        opacity: 0;
        visibility: hidden;
        @include mh-transition();
        & a {
            background-color: var(--mh-primary-color-2);
            font-size: 52px;
            display: inline-flex;
            border-radius: 50%;
            padding: 12px 42px;
            color: var(--mh-heading-color);
        }
    }
    &-content {
        & span {
            display: block;
            padding-left: 70px;
            & label {
                width: 50px;
                height: 1px;
                background-color: var(--mh-gray-color);
                margin-right: 10px;
                transform: translateY(-4px);
            }
        }
    }
    &-title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 5px;
        @include mh-transition();
        &:hover {
            color: var(--mh-primary-color);
        }
    }
}


.#{$theme-prefix}-portfolio-details {
    &-info {
        padding: 40px;
        ul {
            list-style: none;
            li {
                border: 1px solid var(--mh-gray-color);
                border-radius: 5px;
                background-color: var(--mh-white-color);
                padding: 20px 30px;
                &:not(:last-child) {
                    margin-bottom: 15px;
                }
                & span {
                    font-size: 15px;
                    font-weight: 500;
                    text-transform: uppercase;
                }
                & h3 {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 30px;
                }
            }
        }
    }
    &-title {
        font-size: 24px;
        line-height: 34px;
        font-weight: 400;
        & span {
            width: 10px;
            height: 10px;
            background-color: var(--mh-primary-color);
            border-radius: 50%;
            display: inline-block;
            transform: translateY(-3px);
            margin-right: 4px;
        }
    }
    &-overview {
        &-list {
            & ul {
                list-style: none;
                & li {
                    position: relative;
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }
                    &:before {
                        content: '\f061';
                        position: absolute;
                        font-family: "Font Awesome 5 Pro";
                        margin-right: 7px;
                        left: 0;
                        top: 0;
                        display: inline-block;
                        transform: rotate(-45deg);
                    }
                    & span {
                        padding-left: 25px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}