@use '../../utils' as *;

/*----------------------------------------*/
/*  3.13 Pricing
/*----------------------------------------*/

.#{$theme-prefix}pricing {
    padding: 50px 50px 45px;
    &__icon {
        position: relative;
        z-index: 2;
        & span {
            display: inline-flex;
            font-size: 115px;
            margin-left: 20px;
        }
        &--shape {
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    &__price {
        & span {
            font-size: 70px;
            display: inline-block;
            color: var(--mh-heading-color);
            font-family: var(--mh-heading-font);
            line-height: 1;
            margin-bottom: 10px;
        }
    }
    &__title {
        font-size: 30px;
        line-height: 40px;
    }
    &_sep {
        border-top: 1px solid var(--mh-gray-color);
        margin-top: 20px;
        padding-top: 20px;
    }
    &__list {
        ul {
            list-style: none;
            & li {
                padding-left: 25px;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                &:before {
                    content: "\f00c";
                    position: absolute;
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 400;
                    left: 0;
                }
            }
        }
    }
}