@use '../../utils' as *;

/*----------------------------------------*/
/*  3.18 Video
/*----------------------------------------*/

.#{$theme-prefix}-video {
    &-area {
        padding: 280px 30px;
        position: relative;
        z-index: 2;
        @media #{$md} {
            padding: 150px 30px;
        }
        @media #{$xs} {
            padding: 100px 30px;
        }
        @media #{$sm} {
            padding: 130px 30px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: var(--mh-heading-color);
            opacity: .2;
            z-index: -1;
        }
    }
}

.#{$theme-prefix}-play-btn {
    & a {
        & svg {
            @media #{$xs} {
                width: 150px;
            }
        }
    }
}